<div style="margin: 100px;">
  <h1>New Game</h1>
  <form action="create_game" method="post" accept-charset="UTF-8">
    <div class="form_div">
      <label class="form_label">Player 1 Type:</label>
      <select class="form_select" id="player1" name="player1">
        <%= @players.each do |option| %>
          <option><%= option %></option>
          <% end %>
      </select>
    </div>

    <div class="form_div">
      <label class="form_label">Player 2 Type:</label>
      <select class="form_select" id="player2" name="player2">
        <%= @players.each do |option| %>
          <option><%= option %></option>
        <% end %>
      </select>
    </div>

    <div class="form_div">
      <label class="form_label">Board Type:</label>
      <select class="form_select" id="board", name="board">
        <%= @boards.each do |option| %>
          <option><%= option %></option>
        <% end %>
      </select>
    </div>

    <div style="width: 95px; margin: 10px auto 0 auto;">
      <input class="button" name="commit" type="submit" value="Submit">
    </div>
  </form>
</div>
