<%= link_to "New Game", new_web_game_path %>

<div id="core_current_player" game_id="<%= @id %>">
  <% if @game.current_player.class.to_s =~ (/ai/i) && !@game.board.finished? %>
    true
  <% end %>
</div>

<div class="move_history">
  <h4>Move History</h4>
  <ul>
    <% @game.show_history.each do |move| %>
      <li><%= move.side %>: <%= move.move %>
    <% end %>
  </ul>
</div>
<div style="width: 1020px; margin: 100px auto 20px auto;">
  <% if flash[:notice] %>
    <h4 class="notice"><%= flash[:notice] %></h4>
  <% end %>
  <%= @web_game_presenter.show_board.html_safe %>
</div>
<div id="move_index" data="<%= @move_index %>"></div>
<div id="buttons" style="width: 800px; margin: auto;">
  <div id="button_left" style="float: left; margin-left: 200px;">
    <%= image_tag("button_left.png") %>
  </div>
  <div id="button_right" style="float: right; margin-right: 200px;">
    <%= image_tag("button_right.png") %>
  </div>
</div>
