<!DOCTYPE html>
<html>
<head>
  <title>Railsttt</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main_buttons">
    <div class="new_game_btn_wrapper">
      <%= link_to "New Game", new_ttt_game_path, :class => "button" %>
    </div>
    <div class="all_games_btn_wrapper">
      <%= link_to "All Games", game_list_ttt_games_path, :class => "button" %>
    </div>
  </div>
<%= yield %>
</body>
</html>
