<%= link_to "New Game", new_web_game_path %>
<div class="move_history">
  <h4>Move History</h4>
  <ul>
    <% @web_game_history.each do |move| %>
      <% if move.player %>
        <li><%= move.player %>: <%= move.move %>
      <% end %>
    <% end %>
  </ul>
</div>
<div style="width: 1020px; margin: 100px auto 100px auto;">
  <% if flash[:notice] %>
    <h4 class="notice"><%= flash[:notice] %></h4>
  <% end %>
  <%= @web_game_presenter.show_board.html_safe %>
</div>
